body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#line1 {
  stroke-dasharray: 3;
  stroke-dashoffset: 3;
  animation: bar-anim .3s cubic-bezier(.64, .13, .91, .93) forwards;
}

#line2 {
  stroke-dasharray: 6;
  stroke-dashoffset: 6;
  animation: bar-anim .3s cubic-bezier(.64, .13, .91, .93) forwards .2s;
}

#line3 {
  stroke-dasharray: 9;
  stroke-dashoffset: 9;
  animation: bar-anim .3s cubic-bezier(.64, .13, .91, .93) forwards .4s;
}

#line4 {
  stroke-dasharray: 12;
  stroke-dashoffset: 12;
  animation: bar-anim .3s cubic-bezier(.64, .13, .91, .93) forwards .6s;
}

svg:hover #line4 {
  animation: bar4-backward 0.2s cubic-bezier(.64, .13, .91, .93) forwards 0s;
}

svg:hover {
  cursor: pointer;
}

@keyframes bar-anim {
  to {
    stroke-dasharray: 12;
    stroke-dashoffset: 0;
  }
}

@keyframes bar4-backward {
  0% {
    stroke-dasharray: 12;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 12;
    stroke-dashoffset: 12;
  }
}